---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=002432975944642411257:yjhm9na8hr0&key=AIzaSyDhvoOqKns47wNae6pqEzRPRkL1Svg1SoQ&q=poker&start=101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalid",
            "message": "Invalid Value"
           }
          ],
          "code": 400,
          "message": "Invalid Value"
         }
        }
  recorded_at: Sat, 09 Jan 2016 18:22:59 GMT
recorded_with: VCR 3.0.1
