---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=002432975944642411257:yjhm9na8hr0&key=AIzaSyDhvoOqKns47wNae6pqEzRPRkL1Svg1SoQ&q=asdfowefwoejfowsaa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ENTgmThqWzhSab7OnAl_tX_Fk04/t39fkbcFJkHwLuIl5z95cO1dT8A"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - asdfowefwoejfowsaa",
            "totalResults": "0",
            "searchTerms": "asdfowefwoejfowsaa",
            "count": 10,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "002432975944642411257:yjhm9na8hr0"
           }
          ]
         },
         "searchInformation": {
          "searchTime": 0.276142,
          "formattedSearchTime": "0.28",
          "totalResults": "0",
          "formattedTotalResults": "0"
         }
        }
  recorded_at: Sat, 09 Jan 2016 18:22:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=002432975944642411257:yjhm9na8hr0&key=AIzaSyDhvoOqKns47wNae6pqEzRPRkL1Svg1SoQ&q=asdfqwefaefwezzu&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ENTgmThqWzhSab7OnAl_tX_Fk04/Ej2KD3SKpw5l5iuRN5y9lc6AE9U"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
  [...]
